<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>square</key>
		<string>南校区</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>84113993</string>
				<key>numberName</key>
				<string>宿舍管理中心</string>
			</dict>
			<dict>
				<key>number</key>
				<string>84113997</string>
				<key>numberName</key>
				<string>后勤部</string>
			</dict>
			<dict>
				<key>number</key>
				<string>84112828</string>
				<key>numberName</key>
				<string>中山大学总机</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>square</key>
		<string>东校区</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>39332808</string>
				<key>numberName</key>
				<string>物业</string>
			</dict>
			<dict>
				<key>number</key>
				<string>39332226</string>
				<key>numberName</key>
				<string>后勤办</string>
			</dict>
			<dict>
				<key>number</key>
				<string>39332122</string>
				<key>numberName</key>
				<string>门诊部</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>square</key>
		<string>北校区</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>87331212</string>
				<key>numberName</key>
				<string>后勤办</string>
			</dict>
			<dict>
				<key>number</key>
				<string>87331800</string>
				<key>numberName</key>
				<string>通讯中心</string>
			</dict>
			<dict>
				<key>number</key>
				<string>87330308</string>
				<key>numberName</key>
				<string>接待中心</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>square</key>
		<string>珠海校区</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>3668015</string>
				<key>numberName</key>
				<string>物业办公室</string>
			</dict>
			<dict>
				<key>number</key>
				<string>3668092</string>
				<key>numberName</key>
				<string>后勤办</string>
			</dict>
			<dict>
				<key>number</key>
				<string>3668025</string>
				<key>numberName</key>
				<string>物业维修部</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
